/* variable */
$primary-color: #4c33bb;

:root {
  --color-primary: #{$primary-color};
  --color-primary-l2: #{rgba($primary-color, .7)};
  --color-primary-l3: #{rgba($primary-color, .5)};
  --color-primary-l4: #{rgba($primary-color, .3)};
  --color-primary-l6: #{rgba($primary-color, .1)};
  --color-primary-l8: #{rgba($primary-color, .04)};
}

:root {
  --color-code-inline: #5566aa;
  --color-code-background: var(--color-primary-l8);
  --color-code-block-border: var(--color-primary-l4);
  --color-syntax-default: #444444;
  --color-syntax-selection-bg: #c1def1;
  --color-syntax-comment: #777777;
  --color-syntax-keyword: #4466bb;
  --color-syntax-value: #008822;
  --color-syntax-function: #ff6600;
  --color-syntax-regex: #cc2200;
  --color-syntax-string: #aa3366;
}
