<link rel="stylesheet" href="{{ pginfo.asset_path }}/style.css" />
<section class="article">
  <div id="article">
    <h1 class="title"></h1>
    <div class="body"></div>
  </div>
</section>
<section class="related-questions">
  <miso-explore>
    <h2>Explore</h2>
    <miso-related-questions></miso-related-questions>
  </miso-explore>
</section>
<script src=https://www.unpkg.com/@miso.ai/doggoganger@0.9.1-beta.12/dist/umd/doggoganger-browser.min.js></script>
<script async src="{{ pginfo.asset_path }}/index.js"></script>
