---
layout: home.njk
---

<div id="hero" class="container-lg my-md-5">    
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="image-container my-4">
        <svg xmlns="http://www.w3.org/2000/svg" role="img"
          height="64" viewbox="0 0 500 200" style="color: #1A4CE3;"
          fill="currentColor">
          <use xlink:href="{{ '/img/miso-logo.svg#index' | url }}"/>
        </svg>
      </div>
      <p>
        <strong>Engage your users with trustworthy answers.</strong>
      </p>
      <p>
        LLM answer / search / recommendation API
      </p>
      <a class="cta my-4" href="https://miso.ai/get-answers">Start for Free</a>
    </div>
  </div>
</div>

<div class="container-lg text-center">
  <h2 class="my-md-4">Miso JavaScript SDK</h2>
  <hr>
</div>

<div id="components" class="container-lg my-md-4">
  <div class="row">
    <div class="col">
      <ul class="component-list list-unstyled">
      {%- for component in intro.components -%}
        <li class="component">
          <a href="{{ [component.path, '/'] | join | url }}">
            <div class="card">
              <h4 class="title">
                <span>{{ component.title }}</span>
              </h4>
              <p>{{ component.desc }}</p>
            </div>
          </a>
        </li>
      {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
