<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    {% include 'favicon.njk' %}
    {% include 'font_inter.njk' %}
    <script async src="https://cdn.jsdelivr.net/npm/@miso.ai/client-sdk@{{ pginfo.sdk_version }}/dist/umd/miso.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@miso.ai/client-sdk@{{ pginfo.sdk_version }}/dist/css/ui.css" />
  </head>
  <body class="demo">
    {{ content | safe }}
  </body>
</html>
