<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'meta.njk' %}
    {% include 'favicon.njk' %}
    {% include 'font_inter.njk' %}
    <script src=https://www.unpkg.com/@miso.ai/doggoganger@0.9.0-beta.15/dist/umd/doggoganger-browser.min.js></script>
    <script async src="https://cdn.jsdelivr.net/npm/@miso.ai/client-sdk@1.8.0-beta.19/dist/umd/miso.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@miso.ai/client-sdk@1.8.0-beta.19/dist/css/ui.css" />
  </head>
  <body class="demo">
    {{ content | safe }}
  </body>
</html>
