<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ [redirect.to, '/'] | join | url }}'" />
</head>
<body>
	you should be redirecting to <a href="{{ [redirect.to, '/'] | join | url }}">{{ [redirect.to, '/'] | join | url }}</a>
</body>
</html>
