/* home */

$component-gutter-half: 1.5rem;

body.home main {
  padding: 0 !important;
  font-size: 1.1rem;

  #hero h1 {
    font-size: 2.5rem;
  }

  a {
    text-decoration: none !important;
    color: var(--color-primary) !important;
  }

  .cta {
    height: 2.5rem;
    border-radius: 9999px;
    padding: 0 1.5rem;
    font-size: .875rem;
    font-weight: 600;
    display: inline-flex;
    //background: #1a4ce3;
    border-color: #1a4ce3;
    color: #1a4ce3 !important;
    //color: #fff !important;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    &:hover {
      background: #1a4ce3;
      color: #fff !important;
    }
  }

  #components ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10%;
    list-style: none;

    > li {
      position: relative;
      display: block;
      padding: $component-gutter-half;

      &:nth-child(odd) {
        margin-right: 10%;
      }
      &:nth-child(even) {
        margin-left: 10%;
      }
      &:nth-child(3n) .card {
        background-color: #eff;
      }
      &:nth-child(3n + 1) .card {
        background-color: #fef;
      }
      &:nth-child(3n + 2) .card {
        background-color: #ffe;
      }
    }
    .card {
      position: relative;
      border: 1px solid #333;
      border-radius: 8px;
      padding: 1rem;
      height: 6rem;
      color: #333;
      background-color: #fff;
      user-select: none;
      font-size: 1rem;

      &:hover {
        transition: transform 0.1s ease-in;
        transform: scale(1.03);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }

      > .title {
        margin-top: calc(-1.25rem * 0.6 - 1rem - 1px);
        margin-bottom: 0;
        color: var(--color-primary) !important;

        > span {
          position: relative;
          margin: 0 -5px;
          padding: 0 5px;
          z-index: 1;

          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            bottom: calc(50% - 1px);
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
          }
        }

        + p {
          margin-top: 0.15rem;
        }
      }
    }
  }
}
