name: Publish

on:
  workflow_dispatch:
  release:
    types: [released]

jobs:
  publish-client:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: npm ci
      - run: npm run build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.CLIENT_SDK_DEPLOY_KEY }}
          external_repository: MisoAI/miso-client-js-sdk
          publish_dir: ./sites/client-sdk/dist
          allow_empty_commit: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
      - name: Push client SDK index
        uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
        env:
          SSH_DEPLOY_KEY: ${{ secrets.INDEX_DEPLOY_KEY }}
        with:
          source-directory: sites/client-sdk/index
          destination-github-username: MisoAI
          destination-repository-name: nosework-index
          user-email: 'github-actions[bot]@users.noreply.github.com'
          commit-message: 'Update miso-client-js-sdk index'
          target-branch: main
          target-directory: miso-client-js-sdk
  publish-server:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - run: npm ci
      - run: npm run build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.SERVER_SDK_DEPLOY_KEY }}
          external_repository: MisoAI/miso-server-js-sdk
          publish_dir: ./sites/server-sdk/dist
          allow_empty_commit: true
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
      - name: Push server SDK index
        uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
        env:
          SSH_DEPLOY_KEY: ${{ secrets.INDEX_DEPLOY_KEY }}
        with:
          source-directory: sites/server-sdk/index
          destination-github-username: MisoAI
          destination-repository-name: nosework-index
          user-email: 'github-actions[bot]@users.noreply.github.com'
          commit-message: 'Update miso-server-js-sdk index'
          target-branch: main
          target-directory: miso-server-js-sdk
